@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --background: #191a1b;
    --editor-background: #121314;
    --gutter-background: #121314;
    --lighter-background: #242526;
    --border: #2a2b2c;

    --active: #036bfc;

    --active-line: #242526;

    --font-color: #fff;
    --font-color-disabled: #aaa;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow: hidden;
}
main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.resize-detector {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.output-panel {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.output-panel .canvas {
    width: 100%;
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
    border: 1px solid var(--border);
}
.output-panel .canvas:focus-within {
    border: 1px solid var(--active);
}

.terminal {
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    font-family: "JetBrains Mono", monospace;
    height: 100%;
    flex: 1;
    min-height: 0;
}

.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
}
.sidebar > div:first-child {
    font-family: "JetBrains Mono", monospace;
    color: var(--font-color);
    padding: 8px 4px;
    display: flex;
    align-items: center;
}
.sidebar > div:first-child button {
    margin-left: 8px;
    background-color: var(--border);
    color: var(--font-color);
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 8px;
}

#explorer {
    width: 200px;
    height: fit-content;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#explorer .file {
    font-family: "JetBrains Mono", monospace;
    height: 25px;
    min-width: fit-content;
    width: 100%;
    min-width: 200px;
    padding: 8px 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--font-color);
    gap: 4px;
}
#explorer div img {
    height: 25px;
}
#explorer .file:hover {
    background-color: var(--border);
}
#explorer .folder {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: column;
    height: min-content;
    background-color: var(--background);
    cursor: pointer;
    min-height: fit-content;
    color: var(--font-color);
}
#explorer .folder > div:not(.folder-content) { /* header */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4px;
    gap: 4px;
}
#explorer .folder > div:hover {
    background-color: var(--border);
}
.folder-content {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.editor {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*resize: horizontal;*/
    max-width: 80%;
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
}
.editor-resizer {
    height: 100%;
    width: 10px;
    cursor: col-resize;
    background-color: var(--lighter-background);
}
.editor-resizer:hover {
    background-color: var(--active);
}
.editor-topbar {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.editor-topbar * {
    height: 100%;
    color: white;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editor-topbar div + div::before {
    width: 8px;
    height: 8px;
    content: "";
    border-radius: 50%;
    background-color: #ddd;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 8px;
}

#editor {
    width: 100%;
    height: 100%;
    background-color: var(--editor-background);
    overflow: hidden;
}

.notifications {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.notifications div {
    background-color: var(--border);
    color: var(--font-color);
    padding: 8px 16px;
    margin: 8px;
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
}

.context-menu {
    width: 100px;
    background-color: var(--lighter-background);
    border-radius: 8px;

    padding: 4px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    position: absolute;
}
.context-menu button {
    border: none;
    background-color: var(--background);
    color: var(--font-color);
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    border-radius: 8px;
}
.context-menu button:enabled:hover {
    background-color: var(--border);
}
.context-menu button:disabled {
    cursor: not-allowed;
    color: var(--font-color-disabled);
}

.run-topbar {
    box-sizing: border-box;
    padding: 4px;
}

.run-topbar button {
    height: 50px;
    border-radius: 16px;
    cursor: pointer;
    border: 1px solid var(--border);
    background-color: var(--editor-background);
    color: var(--font-color);
    padding: 4px 8px;
}

.cm-editor {
    height: 100%;
}
.cm-editor * {
    font-family: "JetBrains Mono", monospace;
}
/*.cm-gutters {
    border-color: var(--border) !important;
}
.cm-gutters * {
    background-color: var(--gutter-background);
}
.cm-activeLineGutter {
    background-color: var(--background) !important;
}
.cm-cursor {
    border-color: white !important;
}
.cm-activeLine {
    background-color: var(--active-line) !important;
}
.cm-selectionBackground {
    background-color: #276782dd !important;
    z-index: -99;
}
.cm-line {
    color: var(--font-color);
}*/